body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    font-size: 30px;
  


}
.border-box{
    border: 1px solid white;
    padding: 10px;
}
.fix-1{
    display: flex;
    column-gap: 20px;
   
  
}
.fix-2{
    width: 300px;
    height: 200px;
}
.fix-3{
    background-color: aliceblue;
}

.centered {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: lightcyan;
}

.flex {
    display: flex;
    position: absolute;
    font-size: 30px;
    top: 70%;
    left: 38%;
    column-gap: 15px;

}

.text {
    color: white;
    border: 1px solid;
    text-decoration: none;
    padding: 10px 20px;
    background-color: lightgreen;
}
.class1{
    position: absolute;
    font-size: 20px;
    top: 85%;
    left:22%;
    border: 1px solid white;
    padding: 20px 60px;
    background-color: white;

}
.section-2{
    display: flex;
    column-gap: 30px;
   
}
.back-ground{
    background-color: aliceblue;
}
#input{
    border: 1px solid white ;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 50px;
    background-color: white;
    margin-bottom: 20px;
}
#input-2{
    background-color: rgb(247, 241, 241);
    padding: 20px 60px;
    
}
.input-3{
    border: 1px solid white  ;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: white;
   
}
.text-decoration{
    text-decoration: none;
}
a:visited{
    color: black;
}
.input-4{
    border: 1px solid white ;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: white;
    
}
.context{
    border: 1px solid white;
    padding: 20px;
    margin: 20px;
    background-color: white;

}
footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 150px;
}
#two-two{
   padding: 20px;
}